<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h1>Contact Us</h1>
		<p>Thanks for contacting us!</p>
		<p><strong>Name:</strong><%= data.who %></p>
		<p><strong>Department:</strong><%= data.department %></p>
		<p><strong>Email:</strong><%= data.email %></p>
	</body>
</html>
